<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TOP MON 研討會</title>
    <link rel="shortcut icon" href="~/images/thuimicon.png" />
    <!-- CSS -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/normalize.css" />
    <link rel="stylesheet" href="~/Content/style.css" />
    <!-- COLORS -->
    <link rel="stylesheet" href="~/Content/blue.css" title="blue">
    <!-- DEFAULT COLOR/ CURRENTLY USING -->
    <link rel="alternate stylesheet" href="~/Content/green.css" title="green">
    <link rel="alternate stylesheet" href="~/Content/orange.css" title="orange">
    <link rel="alternate stylesheet" href="~/Content/purple.css" title="purple">
    <link rel="alternate stylesheet" href="~/Content/slate.css" title="slate">
    <link rel="alternate stylesheet" href="~/Content/yellow.css" title="yellow">
    <link rel="alternate stylesheet" href="~/Content/red.css" title="red">
    <link rel="alternate stylesheet" href="~/Content/blue-munsell.css" title="blue-munsell">
    <!-- 小連結圖案文字 -->
    <meta name="title" content="🎓 TOP MON研討會 🎓" />
    <meta name="description" content="☝☝點擊查看研討會詳細資訊☝☝" />
    <!-- 連結縮圖 -->
    <link rel="image_src" type="image/jpeg" href="~/images/570394.JPG" />
    <!-- STYLE SWITCH STYLESHEET ONLY FOR DEMO -->
    <link rel="stylesheet" href="~/Content/demo.css">
    @*櫻花特效*@
    <link type="text/css" rel="stylesheet" media="screen" href="~/Content/Sakura/jquery-sakura.min.css" />

    <style>
        .home-bg {
            background: rgba(0, 0, 0, 0.2) !important;
        }

        .navbar-toggle {
            background-color: #b48d06 !important;
            border-color: white !important;
        }

        .navbar-inverse .navbar-toggle:hover {
            background-color: white !important;
            border-color: #b48d06 !important;
        }

            .navbar-inverse .navbar-toggle:hover .icon-bar {
                background-color: #b48d06 !important;
            }

        .service:hover i {
            background-color: white !important;
        }

        p {
            text-align: center;
            font-size: 60px;
            margin-top: 0px;
        }

        .fa-cutler {
            background-color: white !important;
        }

        .navbar-inverse {
            background-color: white !important;
            border-bottom-color: white;
            border-top: 5px solid #b48d06;
        }

        .footer {
            background-color: #b48d06 !important;
            color: white !important;
        }

        #about-page {
            background-color: white !important;
            color: black;
        }

        #about-page2 {
            background-color: white !important;
            margin-left: 2%;
            margin-right: 2%;
            border: 1px solid #b48d06;
        }

        .about-title {
            color: #796e65 !important;
        }

        .service-aro-left, .service-aro-right {
            background: #b48d06 !important;
        }

        .navbar-brand, .service-aro-left, .service-aro-right, .fa {
            color: #b48d06 !important;
        }

        #hoverAction1:hover, #hoverAction2:hover, #hoverAction3:hover, #hoverAction4:hover, #hoverAction5:hover, #hoverAction6:hover, #hoverAction7:hover, #navbarDropdown:hover, #hoverAction9:hover, #hoverAction10:hover {
            color: #b48d06 !important;
            @*font-weight: bold !important;*@
        }

        #hoverAction1:active, #hoverAction2:active, #hoverAction3:active, #hoverAction4:active, #hoverAction5:active, #hoverAction6:active, #hoverAction7:active, #navbarDropdown:active, #hoverAction9:active, #hoverAction10:active {
            color: #b48d06 !important;
            font-weight: bold !important;
        }
    </style>
</head>
<body>
    <!--
       茗翔拜託約
           ´´´´´´´´ ██´´´´´´´
           ´´´´´´´████´´´´´´
           ´´´´´████████´´´´
           ´´`´███▒▒▒▒███´´´´´
           ´´´███▒●▒▒●▒██´´´
           ´´´███▒▒▒▒▒▒██´´´´´
           ´´´███▒▒▒▒██´                      專案：THU_FORM
           ´´██████▒▒███´´´´´                 語言： C#
           ´██████▒▒▒▒███´´                   框架： ASP.NET
           ██████▒▒▒▒▒▒███´´´´                IDE： Visual Studio 16.11.3
           ´´▓▓▓▓▓▓▓▓▓▓▓▓▓▒´´                 版本控制： git-github
           ´´▒▒▒▒▓▓▓▓▓▓▓▓▓▒´´´´´
           ´.▒▒▒´´▓▓▓▓▓▓▓▓▒´´´´´
           ´.▒▒´´´´▓▓▓▓▓▓▓▒
           ..▒▒.´´´´▓▓▓▓▓▓▓▒                  資料庫:  FireBase NoSQL
           ´▒▒▒▒▒▒▒▒▒▒▒▒                      作者: LEE
           ´´´´´´´´´███████´´´´´
           ´´´´´´´´████████´´´´´´´
           ´´´´´´´█████████´´´´´´
           ´´´´´´██████████´´´´
           ´´´´´´██████████´´´
           ´´´´´´´█████████´´
           ´´´´´´´█████████´´´
           ´´´´´´´´████████´´´´´
           ________▒▒▒▒▒
           _________▒▒▒▒
           _________▒▒▒▒
           ________▒▒_▒▒
           _______▒▒__▒▒
           _____ ▒▒___▒▒
           _____▒▒___▒▒
           ____▒▒____▒▒
           ___▒▒_____▒▒
           ███____ ▒▒
           ████____███
           █ _███_ _█_███

    ***The design components of this project refer to a large number of free resources,
        and are purely creative without any profit-making behavior.
        If you offend any design creators, please send a letter to notify the deletion : leekuantean@gmail.com***

     -->
    <!--
    有種跟東閔挑麻將
            🀙🀚🀛🀜🀝🀞🀟🀠🀡🀢🀣
    🀆       🀗🀐🀏🀎🀍🀌🀋🀊🀉       🀅
    🀖     🀗                    🀄    🀅
    🀘     🀗                    🀄    🀔
    🀕     🀡                    🀁    🀀
    🀖     🀗                    🀁
    🀘       🀎🀍🀌🀋🀊🀉🀇🀉🀇
            🀏🀎🀍🀌🀋🀊🀉🀇🀆🀆
    -->
    <div id="st-preloader">
        <div id="pre-status">
            <div class="preload-placeholder"></div>
        </div>
    </div>
    <div class="container">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*雲林CSS*@
                @Html.ActionLink("🤵👰 TOP MON研討會 💍💕", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav justify-content-center">
                    @*雲林CSS*@
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li style="margin-bottom:1%; font-size: 1.5em; font-weight:bold !important;"><a style="color: #b48d06 !important;" id="hoverAction10">🙋  Hi！  @Session["UserName"]</a></li>

                        <li>
                            @Html.ActionLink("🚀  報名管理", "ManagePage", "Home", null, new { @id = "hoverAction4" })
                        </li>
                        <li>
                            @Html.ActionLink("🚀  登出", "LogOff", "Account", null, new { @id = "hoverAction9" })
                        </li>
                    }
                    else
                    {
                        <li>
                            @Html.ActionLink("🙋  註冊", "Regist", "Account", null, new { @class = "dropdown-item", @id = "hoverAction6" })
                        </li>
                        <li>
                            @Html.ActionLink("🙋  登入", "Login", "Account", null, new { @class = "dropdown-item", @id = "hoverAction7" })
                        </li>
                    }
                    <li>
                        <hr style="width: 70% !important;">
                    </li>
                    <li>@Html.ActionLink("💎  首頁", "Index", "Home", null, new { @id = "hoverAction1" })</li>
                    <li>@Html.ActionLink("💎  議程", "Theme", "Home", null, new { @id = "hoverAction2" })</li>
                    <li>@Html.ActionLink("💖  祝福新人", "ContactList", "Home", null, new { @id = "hoverAction5" })</li>
                    <li>@Html.ActionLink("💖  報名表單", "Contact", "Home", null, new { @id = "hoverAction3" })</li>
                    <li><hr style="width: 70% !important;"></li>
                </ul>
            </div>
        </div>
    </div>

    @RenderBody()

    @*&emsp;<a href="#footer"><i class="fa fa-commenting"></i></a>*@
    <footer class="footer navbar-static-bottom">
        <div class="container-fluid">
            <div class="text-right ">
                <div class="row">
                    <!-- 圖標網址 https://fontawesome.com/v4.7.0/icons/ -->
                    <div class="row">
                        <div class="col-sm-12 social-shear text-center">
                            @*雲林CSS*@
                            <span id="footword">
                                &copy; 2021 <strong></strong>. All Rights Reserved. Designed by &nbsp; <strong>
                                    @Html.ActionLink("Mon Bro", "ManagePage", "Home", null, new { @style = "color: white!important ;" })
                                    @*&emsp;<a href="#footer"><i class="fa fa-commenting"></i></a>*@
                                </strong>
                            </span>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </footer>
    @*<input type="submit" value="古狗登入" id="googlelogin" class="btn" style="margin-bottom:2%; background-color:#b48d06;color:white;width:100%;" />
        <input type="submit" value="古狗登出" id="googlesignOcut" class="btn" style="margin-bottom:2%; background-color:#b48d06;color:white;width:100%;" />*@

    <script type=" text/javascript " src="/Scripts/jquery.min.js "></script>
    <!-- jQuery -->
    <script type="text/javascript " src="/Scripts/bootstrap.min.js "></script>
    <!-- Countdown -->
    <script type="text/javascript " src="/Scripts/jquery.ajaxchimp.js "></script>
    <!-- ajaxchimp -->
    <script type="text/javascript " src="/Scripts/scripts.js "></script>
    <!-- Bootstrap下拉選單 -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <!-- Scripts -->
    <script type="text/javascript " src="/Scripts/styleswitcher.js "></script>
    <script type="text/javascript " src="/Scripts/demo.js "></script>
    <script src="/Scripts/bootstrap.js"></script>
    <script src="/Scripts/jquery-3.4.1.min.js"></script>
    <!--DataTable-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    @*FireBase引入檔*@
    <script type="module">
        // Import the functions you need from the SDKs you need
        import { initializeApp } from "https://www.gstatic.com/firebasejs/9.4.1/firebase-app.js";
        import { getAuth, GoogleAuthProvider, signInWithRedirect, getRedirectResult, signInWithPopup, signOut, setPersistence, browserSessionPersistence } from "https://www.gstatic.com/firebasejs/9.4.1/firebase-auth.js";

        // TODO: Add SDKs for Firebase products that you want to use
        // https://firebase.google.com/docs/web/setup#available-libraries

        // Your web app's Firebase configuration
        const firebaseConfig = {
            apiKey: "AIzaSyCWc1Pu-s4rQRetcfnyLzxpltXX7B5NCc4",
            authDomain: "thu-form.firebaseapp.com",
            databaseURL: "https://thu-form-default-rtdb.asia-southeast1.firebasedatabase.app",
            projectId: "thu-form",
            storageBucket: "thu-form.appspot.com",
            messagingSenderId: "680570673162",
            appId: "1:680570673162:web:42315e4d575c364a5727f3"
        };

        // Initialize Firebase
        const app = initializeApp(firebaseConfig);
        @*const auth = getAuth(app);
        const provider = new GoogleAuthProvider(app);

        googlelogin.addEventListener('click', (e) => {
            // sign in with popup tab
            signInWithPopup(auth, provider)
                .then((result) => {
                    // This gives you a Google Access Token. You can use it to access the Google API.
                    const credential = GoogleAuthProvider.credentialFromResult(result);
                    const token = credential.accessToken;
                    // The signed-in user info.
                    const user = result.user;

                    alert(user.displayName + '登入成功');
                    $('#googleAccount').append('<span>' + user.displayName + '<span>');
                    // ...
                }).catch((error) => {
                    // Handle Errors here.
                    const errorCode = error.code;
                    const errorMessage = error.message;
                    // The email of the user's account used.
                    const email = error.email;
                    // The AuthCredential type that was used.
                    const credential = GoogleAuthProvider.credentialFromError(error);
                    // ...
                    alert(errorMessage + '登入失敗');
                });
        });

        googlesignOcut.addEventListener('click', (e) => {
            signOut(auth).then(() => {
                alert('登出成功');
            }).catch((error) => {
                alert('登出失敗');
            });
        });*@

    </script>
    @*<script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-analytics.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-firestore.js"></script>*@


    <!--連接FireBase RealTime DB-->
    <!--<script type="module">
        // Import the functions you need from the SDKs you need
        import { initializeApp } from "https://www.gstatic.com/firebasejs/9.7.0/firebase-app.js";
        // TODO: Add SDKs for Firebase products that you want to use
        // https://firebase.google.com/docs/web/setup#available-libraries

        // Your web app's Firebase configuration
        const firebaseConfig = {
            apiKey: "AIzaSyCWc1Pu-s4rQRetcfnyLzxpltXX7B5NCc4",
            authDomain: "thu-form.firebaseapp.com",
            databaseURL: "https://thu-form-default-rtdb.asia-southeast1.firebasedatabase.app",
            projectId: "thu-form",
            storageBucket: "thu-form.appspot.com",
            messagingSenderId: "680570673162",
            appId: "1:680570673162:web:42315e4d575c364a5727f3"
        };

        // Initialize Firebase
        const app = initializeApp(firebaseConfig);
        firebase.initializeApp(firebaseConfig);
        var db = firebase.firestore();

        //估狗登入
        // google
        var providerG = new firebase.auth.GoogleAuthProvider();

        var btnGooglePopup = document.getElementById('googleSingUpPopup');

        btnGooglePopup.onclick = function () {
            firebase.auth().signInWithPopup(providerG).then(function (result) {
                // 可以獲得 Google 提供 token，token可透過 Google API 獲得其他數據。
                var token = result.credential.accessToken;
                var user = result.user;
                console.log(user)
            });
        }

    </script>-->
    <!--櫻花特效-->
    <script src="~/Content/Sakura/jquery-sakura.min.js"></script>
    <script>
        // domReady
        $(function () {
            $('body').sakura();
        });

        // windowLoad
        @*$(function () {
            $('body').sakura();
        });*@
    </script>

    <script>
        console.log("吾乃災厄宿體之人");
        console.log("吾乃蒼天敬畏之人");
        console.log("吾乃天降之災也");
        console.log("潛伏在我體內的『狂暴之魔』絕不允許其他強者的存在");
        console.log("實在難以容忍");
        console.log("把你們這些自稱『強者』的螻蟻碾碎，實為天之職責");
        console.log("在地上只有一人能讓上天畏懼");
        console.log("即為吾");
        console.log("吾乃武神昂哥，眾神之天也");
    </script>

</body>
</html>
