@model THU_FORM.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (TempData["Message"] != null)
{
    <input type="hidden" class="resultValue" value="@TempData["Message"]" id="MessageBoxLogin" />
}

<h2>登入</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>LoginViewModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="登入" class="btn btn-default" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button id="login">使用google註冊(Popup)</button>
                <button id="singUpRedirect">使用google註冊(Redirect)</button>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink("~  前往註冊", "Regist", "Account")
        </div>
    </div>

}
@*訊息燈箱*@
<div class="modal" id="messagesLogin" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    🎓 TOP MON研討會 🎓
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="cancelPage" aria-hidden="true">@Html.ActionLink(HttpUtility.HtmlDecode("&times;"), "Contact", "Home")</span>
                    </button>
                </h5>
            </div>
            <div class="modal-body  text-center">
                <h4 id="messages_content">@TempData["Message"]</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">  @Html.ActionLink("返回首頁 👌🏼", "Index", "Home", null, new { style = "color:white;padding:1%;" })</button>
                <button type="button" class="btn btn-secondary">@Html.ActionLink("填寫報名表單🖖🏼", "Contact", "Home", null, new { style = "padding:1%;" }) </button>
            </div>
        </div>
    </div>
</div>
<div class="mask" id="mask" style="position: fixed; top: 0px; left: 0px; right: 0px; background-color: white; opacity: 0.7; height: 100vh; width: 100vw; display: none; "></div>
