@model THU_FORM.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (TempData["Message"] != null)
{
    <input type="hidden" class="resultValue" value="@TempData["Message"]" id="MessageBoxLogin" />
}


<div class="container" style="margin-top:5%;width:90vw;">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @if (ViewData["NeedLoginMessage"] != null)
            {
                <span style="color:red;">@ViewData["NeedLoginMessage"]</span>
                ViewData["NeedLoginMessage"] = null;
            }
            <h4 class="ml-5" style="margin-top:15%;">TOP MON 會員登入</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="d-grid gap-2 form-group">
                <div class="col-md-offset-2 col-md-10 text-center">
                    <br><input type="submit" value="登入" class="btn" style="margin-bottom:2%; background-color:#b48d06;color:white;width:100%;" /><div><a href="#">忘記帳號?</a></div><hr />
                    @Html.ActionLink("註冊", "Regist", "Account", new { @class = "btn btn-default", style = "width:100%" })
                </div>
            </div>
            @*<div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button id="login">使用google註冊(Popup)</button>
                        <button id="singUpRedirect">使用google註冊(Redirect)</button>
                    </div>
                </div>*@
        </div>
    }
    <!--動畫雞走路-->
    <div class="col-lg-12 mt-3" id="rookie">
        <div class="row text-center">
            @Scripts.Render("https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js")
            <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_kotaolcw.json" background="transparent" speed="1" style="width:90vw;margin-top:20%;" autoplay></lottie-player>
            @*<lottie-player src="https://assets7.lottiefiles.com/packages/lf20_6kbjigp3.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></lottie-player>*@
        </div>
    </div>
    @*訊息燈箱*@
    <div class="modal" id="messagesLogin" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        🎓 TOP MON研討會 🎓
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span class="cancelPage" aria-hidden="true">@Html.ActionLink(HttpUtility.HtmlDecode("&times;"), "Contact", "Home")</span>
                        </button>
                    </h5>
                </div>
                <div class="modal-body  text-center">
                    <h4 id="messages_content">@TempData["Message"]</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">  @Html.ActionLink("返回首頁 👌🏼", "Index", "Home", null, new { style = "color:white;padding:1%;" })</button>
                    <button type="button" class="btn btn-secondary">@Html.ActionLink("填寫報名表單🖖🏼", "Contact", "Home", null, new { style = "padding:1%;" }) </button>
                </div>
            </div>
        </div>
    </div>
    <div class="mask" id="mask" style="position: fixed; top: 0px; left: 0px; right: 0px; background-color: white; opacity: 0.7; height: 100vh; width: 100vw; display: none; "></div>
</div>