@model IEnumerable<THU_FORM.Models.SignUpModel>

<!------ 照片牆 ---------->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="~/Content/photowall.css">

<!------ 照片牆 ---------->

<style>
    b, h2, h6 {
        color: black !important;
    }
    h1 {
        color: #b48d06;
    }
    @*label {
        display: block !important;
    }*@
</style>

<!-- /#service-page -->
<!-- /#service-page -->

<section id="contact-page ">
    <div class="container ">
        <div class="row " style=" padding-top: 70px; padding-bottom: 40px; ">
            <div class="col-md-12 text-center">
                <h1 class="contact-title text-center" style="color: #b48d06;">  - 祝福新人榜 -  </h1>
                <div class="service-aro-icon ">
                    <div class="service-aro-left "></div>
                    <i class="fa fa-rocket "></i>
                    <div class="service-aro-right "></div>
                </div>
                <h5><span style="border-left: 5px solid #b48d06 ;">&nbsp; ㊗️</span>福最踴躍的前三名親友，將獲得精品好禮</h5><br>
                <div align="center" style="margin-bottom:5%;">
                    @{
                        var most = string.Empty;
                        var second = string.Empty;
                        var third = string.Empty;
                        List<string> realTimeModelList = Model.GroupBy(x => x.Mail).Select(x => new { Name = x.Key, Count = x.Count() }).OrderByDescending(x => x.Count).Select(x => x.Name).ToList();
                        if (realTimeModelList.Count >= 3)
                        {
                            most = Model.Where(x => x.Mail == realTimeModelList.First()).ToList().FirstOrDefault().Name;
                            second = Model.Where(x => x.Mail == realTimeModelList[1]).ToList().FirstOrDefault().Name;
                            third = Model.Where(x => x.Mail == realTimeModelList[2]).ToList().FirstOrDefault().Name;
                        }
                        if (realTimeModelList.Count >= 3)
                        {
                            <h5><span style="border-left: 5px solid #b48d06 ;">&nbsp; R</span>eal Time 統計</h5>
                            <button type="button" class="btn btn-lg" style="pointer-events: none;  text-align: start; background-color: white !important;">🥇</button><span align="center">@most</span>
                            <button type="button" class="btn  btn-lg" style="pointer-events: none; text-align: start; background-color: white !important;">🥈</button> <span align="center">@second</span>
                            <button type="button" class="btn  btn-lg" style="pointer-events: none; text-align: start; background-color: white !important;">🥉</button><span align="center">@third</span>
                        }
                        else
                        {
                            <hr>
                            <h5>資料未達三筆，歡迎踴躍報名 ~</h5>
                        }
                        if (Session["UserEmail"] != null && Session["UserEmail"].ToString() == "leekuantean@gmail.com" && realTimeModelList.Count >= 3)
                        {
                            <div>
                                <span style="text-align: start">第一名 : @Model.Where(x => x.Mail == realTimeModelList.First()).ToList().Count 筆 / </span>
                                <span style="text-align: start">第二名 : @Model.Where(x => x.Mail == realTimeModelList[1]).ToList().Count 筆 / </span>
                                <span style="text-align: start">第三名 : @Model.Where(x => x.Mail == realTimeModelList[2]).ToList().Count 筆</span>
                            </div>
                        }
                    }
                </div>
                <h5><span style="border-left: 5px solid #b48d06 ;">&nbsp; D</span>eadline 統計</h5>
                @{
                    //設定期限
                    var info = TimeZoneInfo.FindSystemTimeZoneById("Taipei Standard Time");
                    DateTimeOffset localServerTime = DateTimeOffset.Now;
                    DateTimeOffset localTime = TimeZoneInfo.ConvertTime(localServerTime, info);
                    //正式時間
                    var dateTimeStr = "2022-09-09  18:00:00";
                    //測試用時間
                    //var dateTimeStr = "2022-08-31  02:00:00";
                    var deadLine = DateTime.Parse(dateTimeStr);

                    var deadMost = string.Empty;
                    var deadsecond = string.Empty;
                    var deadthird = string.Empty;
                    if (localTime <= deadLine)
                    {
                        <h5>待開獎</h5>
                    }

                    if (localTime > deadLine)
                    {
                        //設定統計至期限的資料 (依照建立時間順序排列)
                        List<string> deadTimeModelList = Model.Where(x => DateTime.Parse(x.CreateDateTime) <= deadLine).OrderBy(x => x.CreateDateTime).GroupBy(x => x.Mail).Select(x => new { Name = x.Key, Count = x.Count() }).OrderByDescending(x => x.Count).Select(x => x.Name).ToList();
                        if (deadTimeModelList.Count >= 3)
                        {
                            deadMost = Model.Where(x => x.Mail == deadTimeModelList.First()).ToList().FirstOrDefault().Name;
                            deadsecond = Model.Where(x => x.Mail == deadTimeModelList[1]).ToList().FirstOrDefault().Name;
                            deadthird = Model.Where(x => x.Mail == deadTimeModelList[2]).ToList().FirstOrDefault().Name;
                        }
                        if (deadTimeModelList.Count >= 3)
                        {
                            <div align="center" style="margin-bottom:5%;">
                                <button type="button" class="btn btn-lg" style="pointer-events: none;  text-align: start; background-color: white !important;">🥇</button><span align="center">@deadMost</span>
                                <button type="button" class="btn  btn-lg" style="pointer-events: none; text-align: start; background-color: white !important;">🥈</button> <span align="center">@deadsecond</span>
                                <button type="button" class="btn  btn-lg" style="pointer-events: none; text-align: start; background-color: white !important;">🥉</button><span align="center">@deadthird</span>
                            </div>
                        }
                        else
                        {
                            <h5>統計截止，哭哭得獎人數不足三人</h5>
                        }
                        if (Session["UserEmail"] != null && Session["UserEmail"].ToString() == "leekuantean@gmail.com" && deadTimeModelList.Count >= 3)
                        {
                            <div>
                                <span style="text-align: start">第一名 : @Model.Where(x => x.Mail == deadTimeModelList.First()).ToList().Count 筆 / </span>
                                <span style="text-align: start">第二名 : @Model.Where(x => x.Mail == deadTimeModelList[1]).ToList().Count 筆 / </span>
                                <span style="text-align: start">第三名 : @Model.Where(x => x.Mail == deadTimeModelList[2]).ToList().Count 筆</span>
                            </div>
                        }
                    }
                }

                <br>
                <div class="contact-form" style="margin-top:3%;">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <div class="form-group">

                                @*<h2 style="text-align:center;">當前成員</h2>*@

                                <table class="table" id="dataTable">
                                    <thead>
                                        <tr>
                                            @*<th class="text-center">屆</th>*@
                                            <th class="text-center">姓名</th>
                                            @*<th class="text-center">聯絡方式</th>*@
                                            @*<th class="text-center">報名人數</th>*@
                                            <th class="text-center">💖 祝福的話 💖 </th>
                                            <th class="text-center" style="display: none;">報名時間</th>
                                            @*<th></th>*@
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                @*<td>@item.TH</td>*@
                                                <td class="text-center">@item.Name</td>
                                                @*<td>@item.Mail</td>*@
                                                @*<td>@item.PeopleNumber</td>*@
                                                <td class="text-center">@item.WantToSay</td>
                                                <td class="text-center" style="display: none;">@item.CreateDateTime</td>
                                                @*<td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.TH } ,new { @class = "btn btn-default disabled" }) |
                                            @Html.ActionLink("Read", "Detail", new { id = item.TH }, new { @class = "btn btn-default disabled" }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.TH }, new { @class = "btn btn-default disabled" })
                                        </td>*@
                                            </tr>

                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>


                        <div class="contact-form">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group ">
                                        <hr />
                                        @*雲林CSS*@
                                        @Html.ActionLink("祝福Go !", "Contact", "Home", null, new { @class = "btn btn-primary btn-lg submit-button ", style = "background-color:#b48d06;color:white !import;" })
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 5%;">
                                <div class="col-12 text-left" style="margin: 0 10% 5% 10%;"> <span style="border-left: 5px solid #b48d06 ;">&nbsp; 將</span>根據【聯絡方式】進行統計，請確保每次祝福的聯絡方式相同。  </div>
                                <div class="col-12 text-left" style="margin: 0 10% 5% 10%;">
                                    <span style="border-left: 5px solid #b48d06 ;">&nbsp; 統</span>計至2022/09/09 18:00:00。
                                </div>
                                <div class="col-12 text-left" style="margin: 0 10% 5% 10%; ">
                                    <span style="border-left: 5px solid #b48d06 ;">&nbsp; 非</span>祝福或活動建議等等的無意義留言，管理員將依照數位中介法執行刪除作業。
                                </div>
                                <div class="col-12 text-left" style="margin: 0 10% 0 10%; ">
                                    <span style="border-left: 5px solid #b48d06 ;">&nbsp; 因</span>活動方經費有限，當前三名超過3人時，採抽籤決定得獎者，敬請見諒。
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /#about-page -->
<!--動畫雞走路-->
<div class="col-lg-12 text-center" id="rookie">
    <div class="row text-center">
        @Scripts.Render("https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js")
        <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_kotaolcw.json" background="transparent" speed="1" style="width:90vw;margin-left:8%;" loop autoplay></lottie-player>
        @*<lottie-player src="https://assets7.lottiefiles.com/packages/lf20_6kbjigp3.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></lottie-player>*@
    </div>
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="~/Scripts/photowall.js"></script>

